.calendar_container{
    display: flex;
    justify-content: center;
    padding: 16px;
}
#calendar-a .color-calendar.glass{
    --cal-drop-shadow: 0;
}
#calendar-a .calendar__body{
    border-radius: 0px;
}

@media (max-width: 1700px) {
    .calendar_container{
        padding: 8px;
    }
  
}
  